<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE softplc SYSTEM "softplc.dtd">
<softplc>
	<cpu slot="1" connections="64" status="STOP">
		<memory>
			<area name="DB100" size="2000" />
			<area name="DB101" size="1000" />
		</memory>
		<program cycleTime="50">
			<file>./program/main.js</file>
		</program>
	</cpu>
	<cpu slot="2" maxBlockSize="400" status="STOP">
		<memory>
			<area name="DB100" size="2000" />
			<area name="DB101" size="1000" />
			<area name="M" size="8000"/>
		</memory>
		<program cycleTime="50">
			<file>./program/main.js</file>
		</program>
		<tables>
			<table name="table1">
				<variable variable="DB100,X0.0"/>
				<variable variable="DB100,W2" newValue="10"/>
			</table>
		</tables>
		<snapshots>
			<snapshot default="true" file="file1.snapshot"/>
			<snapshot file="file2.snapshot"/>
		</snapshots>
	</cpu>
</softplc>